<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Traveler Portal</title>
    @* TODO: add appropriate icon*@
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @*@Styles.Render("~/Content/css")*@
    <link rel="stylesheet" type="text/css" href="~/Content/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/base.css" />
</head>
<body>
    <div id="wrap">
        <div id="header">
            <h1 id="logo">traveler<span class="green">portal</span></h1>
            <h2 id="slogan">Put your company slogan here...</h2>
            @* JUST IN CASE
            <form method="post" class="searchform" action="javascript:void(0)">
                <p>
                    <input type="text" name="search_query" class="textbox" />
                    <input type="submit" name="search" class="button" value="Search" />
                </p>
            </form>
            <ul>
                <li id="current"><a href="javascript:void(0)"><span>Главная</span></a></li>
            </ul>
            *@
            <div class="wise-words">
                <p>&quot;Men are disturbed, not by the things that happen, but by their opinion of the things that happen.&quot;</p>
            </div>
        </div>
        <div id="content-wrap">
            <img src="~/Content/img/headerphoto.jpg" class="no-border" />
            <div id="sidebar">
                <ul class="sidemenu">
                    <li><a href="~/">Главная</a></li>
                    <li><a href="javascript:void(0)">Программы</a></li>
                    <li><a href="@Url.Action(string.Empty, "photogallery")">Фотогалерея</a></li>
                    <li><a href="javascript:void(0)">Статьи</a></li>
                    <li><a href="javascript:void(0)">Книги</a></li>
                    <li><a href="javascript:void(0)">Отзывы</a></li>
                    <li><a href="javascript:void(0)">Цены</a></li>
                    <li><a href="javascript:void(0)">Контакты</a></li>
                </ul>
            </div>
            <div id="main">
                @RenderBody()
            </div>
            <div id="rightbar">
                <h1>Лента новостей</h1>
                <p>If you are interested in supporting my work and would like to contribute, you are welcome to make a small donation through the <a href="http://www.styleshout.com/">donate link</a> on my website - it will be a great help and will surely be appreciated.</p>
            </div>
        </div>
        <div id="footer">
            <div class="footer-left">
                <p class="align-left">&copy; 2013 <strong>TravelerPortal</strong></p>
            </div>
            <div class="footer-right">
                @* TODO: appropriate links here
                    <p class="align-right"><a href="javascript:void(0)">Home</a>&nbsp;|&nbsp; <a href="javascript:void(0)">SiteMap</a>&nbsp;|&nbsp; <a href="javascript:void(0)">RSS Feed</a> </p>
                *@
            </div>
        </div>
    </div>
</body>
</html>
