<p>
 атманду Ц столица Ќепала и самый большой город страны. ќн расположен в долине  атманду, на высоте 1300 м. и окружен со всех сторон горной гр€дой.
ƒаже сами непальцы говор€т, что он самый гр€зный, шумный и опасный. “рудно поверить, что ещЄ 70 лет назад в долине проживало не более 100 000 человек, и город был настолько чист, что из рек пили воду. ќн был обнесен каменной стеной,  попасть туда без специального разрешени€ было невозможно, а вечером объ€вл€лс€ комендантский час.
</p>