<p>
ќ Ќепале пишут не так уж много, и в основном о необыкновенных красотах, доброте местных жителей, их чудесном гостеприимстве и любви к природе. ѕишут о миролюбивой религии, котора€ презирает бренную жизнь, о благородных монахах в €рких одеждах. » кажетс€, что все написанное чиста€ правда. Ќо мне бы хотелось рассказать читателю Ђреалии непальского трекингаї.
</p>