<p>
О Непале пишут не так уж много, и в основном о необыкновенных красотах, доброте местных жителей, их чудесном гостеприимстве и любви к природе. Пишут о миролюбивой религии, которая презирает бренную жизнь, о благородных монахах в ярких одеждах. И кажется, что все написанное чистая правда. Но мне бы хотелось рассказать читателю «реалии непальского трекинга».
</p>