@using System.Configuration;
@model TravelerPortal.Data.Article[]

@foreach (var article in Model)
{
    <h1>@article.Name</h1>
    @:@{Html.RenderPartial(string.Format(@"{0}/{1}", ConfigurationManager.AppSettings["pathToArticles"], article.BriefDescriptionPath), article);}
    <p class="post-footer align-right">
        <a href="@Url.RouteUrl("ArticleById", new { articleId = article.Id })" class="readmore">Читать дальше</a>
        <a href="javascript:notImplemented()" class="comments">Комментарии (0)</a>
        <span class="date">@article.Created</span>
    </p>
}