@model TravelerPortal.WebUI.Views.Comments.CommentsVM

<ol class="commentlist">
    @foreach (var comment in Model.Comments)
    {
        <li class="comment">
            <div class="comment-meta">
                <img alt="" src="@comment.User.Thumbnail" class="avatar no-border" height="50" width="50">
                <div class="username">
                    @comment.User.FirstName&nbsp;@comment.User.LastName
                </div>
                <div class="time">
                    @comment.Created
                </div>
            </div>
            <div class="comment-content">
                @comment.Text
            </div>
        </li>
    }
</ol>
