@model TravelerPortal.Data.Event[]

@foreach (var _event in Model)
{
    <a href="@Url.RouteUrl("TravelById", new { travelId = _event.TravelId })">
        @_event.Name
    </a>
    <div style="margin-left: 15px;">@_event.StartDate.ToShortDateString() - @_event.EndDate.ToShortDateString()</div>
}