/********************************************
   HTML ELEMENTS
********************************************/

/* top elements */
*
{
    padding: 0;
    margin: 0;
}

html
{
    height: 101%;
}

body
{
    margin: 0;
    padding: 0;
    font: .75em/1.5em Verdana, Tahoma, Helvetica, sans-serif;
    color: #666666;
    background: #A9BAC3 url(../img/bg.png) repeat-x;
    text-align: center;
}

/* links */
a
{
    color: #4284B0;
    text-decoration: none;
}

    a:hover
    {
        color: #9EC068;
    }

/* headers */
h1, h2, h3
{
    font: bold 1em 'Trebuchet MS', Arial, Sans-serif;
    color: #333;
}

h1
{
    font-size: 1.5em;
    color: #6297BC;
}

h2
{
    font-size: 1.4em;
    text-transform: uppercase;
}

h3
{
    font-size: 1.3em;
}

p, h1, h2, h3
{
    text-align: justify;
}

/* images */
img.no-border
{
    border: none;
}

img.float-right
{
    margin: 5px 0px 5px 15px;
}

img.float-left
{
    margin: 5px 15px 5px 0px;
}

code
{
    margin: 5px 0;
    padding: 10px;
    text-align: left;
    display: block;
    overflow: auto;
    font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
    /* white-space: pre; */
    background: #FAFAFA;
    border: 1px solid #f2f2f2;
    border-left: 4px solid #4284B0;
}

acronym
{
    cursor: help;
    border-bottom: 1px solid #777;
}

blockquote
{
    margin: 15px;
    padding: 0 0 0 20px;
    background: #FAFAFA;
    border: 1px solid #f2f2f2;
    border-left: 4px solid #4284B0;
    color: #4284B0;
    font: bold 1.2em/1.5em Georgia, 'Bookman Old Style', Serif;
}

/* form elements */
form
{
    margin: 10px;
    padding: 0;
    border: 1px solid #f2f2f2;
    background-color: #FAFAFA;
}

label
{
    display: block;
    font-weight: bold;
    margin: 5px 0;
}

input
{
    padding: 2px;
    border: 1px solid #eee;
    font: normal 1em Verdana, sans-serif;
    color: #777;
}

textarea
{
    width: 300px;
    padding: 2px;
    font: normal 1em Verdana, sans-serif;
    border: 1px solid #eee;
    height: 100px;
    display: block;
    color: #777;
}

input.button
{
    margin: 0;
    font: bold 1em Arial, Sans-serif;
    border: 1px solid #CCC;
    background: #FFF;
    padding: 2px 3px;
    color: #4284B0;
}

/* search form */
form.searchform
{
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

    form.searchform input.textbox
    {
        margin: 0;
        width: 120px;
        border: 1px solid #9EC630;
        background: #FFF;
        color: #333;
        height: 14px;
        vertical-align: top;
    }

    form.searchform input.button
    {
        margin: 0;
        padding: 2px 3px;
        font: bold 12px Arial, Sans-serif;
        background: #FAFAFA;
        border: 1px solid #f2f2f2;
        color: #777;
        width: 60px;
        vertical-align: top;
    }

/***********************
	  LAYOUT
************************/
#wrap
{
    background: #FFF;
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    text-align: left;
}

#content-wrap
{
    clear: both;
    margin: 0;
    padding: 0;
    background: #FFF;
}

    #content-wrap .logo-link
    {
        position: absolute;
    }

        #content-wrap .logo-link #logo
        {
            text-shadow: 1px 1px 0px #fff;
            margin: 0;
            padding: 0;
            font: bolder 4.1em 'Trebuchet MS', Arial, Sans-serif;
            letter-spacing: -2px;
            margin-top: -5px;
            margin-left: 5px;
        }

        #content-wrap .logo-link #slogan
        {
            text-shadow: 1px 1px 0px #fff;
            color: #666666;
            font: 11px Tahoma, 'trebuchet MS', Sans-serif;
            text-align: right;
            text-transform: none;
            margin-top: -10px;
        }

/* header */
#header
{
    position: relative;
    height: 85px;
    background: #000 url(../img/headerbg.gif) repeat-x 0% 100%;
}

    #header form.searchform
    {
        position: absolute;
        top: 0;
        right: -12px;
    }

.wise-words
{
    text-align: justify;
    margin: 10px 0px 10px;
}

    .wise-words .author
    {
        text-align: right;
        font-style: italic;
    }

/* main */
#main
{
    float: left;
    margin: 0px 10px 10px 10px;
    padding: 0;
    width: 600px;
}

.post-footer
{
    background-color: #FAFAFA;
    padding: 5px;
    margin: 20px 15px 0 15px;
    border: 1px solid #f2f2f2;
    font-size: 95%;
}

    .post-footer .date
    {
        background: url(../img/clock.gif) no-repeat left center;
        padding-left: 20px;
        margin: 0 10px 0 5px;
    }

    .post-footer .readmore
    {
        background: url(../img/page.gif) no-repeat left center;
        padding-left: 20px;
        margin: 0 10px 0 5px;
    }

/* sidebar */
#sidebar
{
    float: left;
    width: 150px;
    margin: 5px 0px 0px 5px;
    padding: 0;
    display: inline;
}

    #sidebar ul.sidemenu
    {
        list-style: none;
        font-size: 14px;
    }

        #sidebar ul.sidemenu li
        {
            margin-bottom: 1px;
            border: 1px solid #f2f2f2;
        }

        #sidebar ul.sidemenu a
        {
            display: block;
            font-weight: bold;
            color: #333;
            text-decoration: none;
            padding: 2px 5px 2px 10px;
            background: #f2f2f2;
            border-left: 4px solid #CCC;
            min-height: 18px;
        }

* html body #sidebar ul.sidemenu a
{
    height: 18px;
}

#sidebar ul.sidemenu a:hover, #sidebar ul.sidemenu li.active a
{
    padding: 2px 5px 2px 10px;
    background: #f2f2f2;
    color: #339900;
    border-left: 4px solid #9EC630;
}

/* rightbar */
#rightbar
{
    float: right;
    width: 244px;
    padding: 0;
    margin: 0px 5px 0px 0px;
}

/* Footer */
#footer
{
    clear: both;
    color: #FFF;
    background: #A9BAC3;
    border-top: 5px solid #568EB6;
    margin: 0;
    padding: 0;
    height: 50px;
    font-size: 95%;
}

    #footer a
    {
        text-decoration: none;
        font-weight: bold;
        color: #FFF;
    }

    #footer .footer-left
    {
        float: left;
        width: 65%;
    }

    #footer .footer-right
    {
        float: right;
        width: 30%;
    }

/* alignment classes */
.float-left
{
    float: left;
}

.float-right
{
    float: right;
}

.align-left
{
    text-align: left;
}

.align-right
{
    text-align: right;
}

/* additional classes */
.clear
{
    clear: both;
}

.green
{
    color: #9EC630;
}

.gray
{
    color: #BFBFBF;
}

.no-margin
{
    margin: 0px;
}

.no-padding
{
    padding: 0px;
}

/* album thumbnails */
.thumbnail
{
    float: left;
    width: 140px;
    margin: 0 15px 15px 0;
    text-align: center;
}

.clearboth
{
    clear: both;
}

/* picture film */
.picture-film
{
    width: 760px;
    text-align: center;
    margin: 1px 5px 0px 5px;
    float: left;
}

    .picture-film a img
    {
        min-height: 75px;
        max-height: 75px;
        margin: auto auto;
        border: 1px solid #ddd;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

/* opinion */
.opinion
{
    width: 234px;
    float: left;
    background-color: white;
    margin: 5px 5px 0px 5px;
    position: absolute;
    right: 0px;
    text-align: center;
    height: 262px;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
}

    .opinion .photo
    {
        max-height: 140px;
        max-width: 200px;
        min-height: 140px;
        border: 1px solid #ddd;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .opinion .response
    {
        text-align: justify;
    }

/* Comments */
.add-comment-wrap
{
    background: #f6f6f6;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    font-size: 14px;
}

    .add-comment-wrap .social a
    {
        width: 20px;
        height: 20px;
        display: inline-block;
    }

        .add-comment-wrap .social a#fb-login-button
        {
            background-image: url(../img/fb-icon.png);
        }

        .add-comment-wrap .social a#vk-login-button
        {
            background-image: url(../img/vk-icon.png);
        }

    .add-comment-wrap .margins
    {
        margin: 5px 0px 5px;
    }

    .add-comment-wrap .top-margin
    {
        margin-top: 5px;
    }

    .add-comment-wrap .bottom-margin
    {
        margin-bottom: 5px;
    }

    .add-comment-wrap textarea
    {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .add-comment-wrap textarea, .add-comment-wrap input
    {
        border: 1px solid #ddd;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .add-comment-wrap .state
    {
        color: red;
    }

.commentlist
{
    list-style: none;
    margin: 0 auto;
    padding-left: 80px;
    font-size: 14px;
}

    .commentlist li.comment
    {
        background: #f6f6f6;
        border: 1px solid #ddd;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin: 0px 0px 10px;
        padding: 10px;
        position: relative;
    }

        .commentlist li.comment:before
        {
            content: url(http://www.red-team-design.com/wp-content/themes/rtd-v3/images/comment-arrow.png);
            left: -21px;
            position: absolute;
        }

        .commentlist li.comment .comment-meta
        {
            color: #666;
        }

            .commentlist li.comment .comment-meta .avatar
            {
                -moz-border-radius: 3px;
                border-radius: 3px;
                -webkit-box-shadow: 0 1px 2px #ccc;
                -moz-box-shadow: 0 1px 2px #ccc;
                box-shadow: 0 1px 2px #ccc;
                left: -80px;
                padding: 0;
                position: absolute;
                top: 0;
            }

            .commentlist li.comment .comment-meta .username
            {
                float: left;
                font-weight: bold;
            }

            .commentlist li.comment .comment-meta .time
            {
                float: right;
            }

        .commentlist li.comment .comment-content
        {
            clear: both;
            padding-top: 5px;
        }
