@model TravelerPortal.WebUI.Views.Photogallery.AlbumsVM

<h1 style="margin-left: 0px;">Альбомы</h1>
@foreach (var item in Model.Albums)
{
    <div class="thumbnail">
        <img class="no-border" src="@item.CoverPath" width="140">
        <a href="@Url.RouteUrl("AlbumById", new { albumId = item.Id })">@item.Name</a>
    </div>
}