<h1>Немного о себе...</h1>
<p>
    К созданию этого сайта я шла много лет. Ещё в 2007 г., впервые увидев Крымские горы, захотелось тут же поделиться этим открытием со своими друзьями, близкими и с миром в целом. До этого мне казалось, что лес это стоптанная тропинка неподалеку от селения, и, гуляя там, слышишь доносящийся лай собак и шум работающих двигателей. Но оказалось, что в нашей стране есть места, где можно ещё по-настоящему уединиться. Оказалось, что лес настолько огромен, что можно несколько дней идти, так никого и не встретив. Оказалось, что горы скрывают сотни красивейших водопадов, чистейших рек и озер, что виды, открывающиеся с вершин, меняют сознание человека. Понимаешь, что мир – это не серые улицы, вдоль которых мы так привычно ходим, не меняя маршрут. Мир – это удивительные деревья, душистые травы, быстрые реки, и люди, которые тебе рады. И, правда, в горах мы улыбаемся друг другу, как дети, и говорим незнакомцам: «Здравствуйте!», не стыдясь.
</p>
<p>
    Много лет я сомневалась, стоит ли мне начинать самой водить группы. Тогда ещё не было так много сайтов и предложений, те, кто сейчас добились успеха, только начинали свой путь. Но мне казалось, что я не готова, что это трудно и ответственно, что нужен опыт и уверенность. Я просто собирала друзей, и мы путешествовали, открывая новые направления и маршруты.
</p>
<p>
    За это время я закончила юридическую академию, закончила там же аспирантуру на кафедре философии, даже год работала преподавателем на кафедре. Параллельно с аспирантурой окончила Национальный университет им. Мечникова по специальности «психология». Посещала множество дополнительных курсов, лекций, семинаров, много читала, думала… Для чего я об этом говорю?  Потому что теперь знаю не по наслышке, какое количество уверенных, наглых и лицемерных людей, выдают себя за пророков и учителей, не зная даже азов психологической и философской науки. Кибернетики создают «Школы экзистенциального анализа», математики гадают на картах по-научному. Так почему мне молчать о том, что было. Даже не смотря на все недостатки современного образования, оно необходимо в работе с людьми.
</p>
<h3>Почему именно сейчас?</h3>
<p>
    Я понимаю, что рынок заполнен предложениями подобного рода. И я искренне пыталась присоединится к подобному проекту, и не тратить время на создание чего-то нового. Я ходила в походы и со спортивными секциями, и с коммерческими программами, и с частными инструкторами, и с «эзотерическими клубами». И вот что выяснила:
</p>
<ol>
    <li>Спортивные секции предлагают походы спортивные – это логично. Спортивный, категориальный поход подразумевает прохождение четко установленного километража, составление предварительного плана и запрет на любое отклонение от графика. Подъем четко в 6 утра, дежурные, прописанное меню и чувство долга. Это мне не понравилось, потому что иногда хочется побыть в хорошем месте подольше, потому что иногда хочется поспать, и потому что хочется сфотографировать цветочек с десяти ракурсов и себя возле, над и под ним, а не бежать скорее, чтобы дойти. Ведь, в конце концов – это отдых. 
    </li>
    <li>Коммерческие походы, которые предлагает большинство сайтов – это вариант. Но и там больше минусов, чем плюсов. Во-первых, инструктора постоянно меняются и отбираются среди друзей, по принципу, кто может и кто дешевле. Инструктор работает за зарплату. Ему дается план похода, который конечно, полегче спортивного марафона, но все равно не такой уж простой, а так же меню и продукты, заранее закупленные начальством. И важно ему группу провести и получить свой гонорар. А там уже, как повезет. Попадаются ребята хорошие, душевные, попадаются смурные, неприветливые. Группа сама по себе, инструктор сам по себе. Такие инструктора, как правило, бывшие семижильные спортсмены, которым от усталости новичков только смешно делается, понятия о психологии группы нет у них естественно никакого. Так когда-то инструктор Ваня тянул нашу отстающую тройку в первый день похода на гору Бойка, и посмеивался. А я когда дошла, упала и так и проспала до утра без ужина. Зато Ваня довел всю группу по графику. 
    </li>
    <li>Закупка продуктов производится по стандартному меню, наиболее оптимальному по цене, качеству и весу. Например, в походе с тем же Ваней, женщинам на 6 ночей выдали по 7 килограмм еды  и мы не могли поднять рюкзаки, так было тяжело. А уже на горе оказалось, что мы тащим крысиную тушенку, которую есть невозможно и пюре из порошка, которое горело в нашем костре синим пламенем. Я считаю, что на неделю по 2-3 кг. для женщин и 4 кг. для мужчин вполне достаточно. По поводу меню более подробно можно прочитать здесь.
    </li>
    <li>Большая группа без правил - это ещё один аспект, который мне кажется очень важным. Набирается группа, людей никто не проверяет, никто не знает точно их цели и возможности организма. И вот встречается эта группа в Симферополе на вокзале или в Ивано-Франковске и знакомится уже в горах. Кто-то хочет идти быстрее, и на цветочки и виды ему плевать, кто-то задыхается, отстает и сам себя материт под нос, кто-то хочет выпить, кого-то тянет подурачиться, и хорошо, когда люди понимающие и инструктор порядочный. Так что я думаю, что все равно перед походом очень важно договориться о каких-то базовых вещах и сформировать общую цель.
    </li>
    <li>Техника безопасности. Последней каплей стал для меня поход в июне 2013 года с очень популярным сейчас клубом «эзотерического отдыха». Попала я к ним волонтером, бесплатно, но получила возможность понаблюдать за одной из самых раскрученных в интернете фирм. 50-летняя женщина Марина, мать двоих сыновей, опыта походов не имела, но ей было сказано, что она легко пройдет маршрут по Восточному Крыму 3-го уровня по их собственной классификации. Марина отставала, шла красная как рак, но боялась заблудиться одна, потому что замыкающего в команде не было. Технику подъема и азы правильного дыхания Марине никто не объяснял. И тащила она трехместную палатку для одной себя, потому что инструктора не имели времени проконтролировать этот вопрос. И несла Марина сырую капусту и морковь, которую съели только на 5-й день, и без которой можно было обойтись вопле. Но когда она свернула ногу, догоняя группу на хребте Орта-Сыт, а к ней никто не подошел, и просветленная и великая руководительница обвинила ее в «плохом настрое» и страхах, я прозрела. 
    </li>
</ol>
<p>
    Та же руководительница заявила нам на след. день, что по Голицинской тропе, которая и так крутая, мы пойдет в сумерках, так как платить по 30 грн. с человека за билеты она не намерена. И уехали мы с Мариной домой раньше срока. Она ради спасения своей жизни, я, потому что в откровенном мошенничестве не участвую. 
</p>
<p>
    И вот после всего пройденного и увиденного я решилась! В конце концов, хватит всех критиковать, нужно что-то делать самой. Так что вот основные идеи и отличия:
</p>
<ol>
    <li>Вес рюкзака у женщины не должен быть больше 7-9 кг. при полной загрузке, а у мужчины 10-12. Все это я буду тщательно контролировать, и помогать в грамотном подборе снаряжения.
    </li>
    <li>Продукты, которые закупаются в поход, должны быть качественными дорогими и вкусными. Пища должны быть полезной и разнообразной. И весить много не должна!
    </li>
    <li>До начала маршрута все члены группы обязаны пройти инструктаж по технике безопасности, и условится об общих целях и задачах. Участники соглашаются оказывать друг другу посильную помощь и соблюдать командный дух, не смотря ни на что.
    </li>
    <li>Во время маршрута группы не растягивается, идет только вместе и в том темпе, который комфортен для отстающих. Группа отдыхает, даже если об этом просит кто-то один. 
    </li>
    <li>Переходы не должны быть утомительными, так как поход является любительским, а не спортивным. 
    </li>
    <li>Вход в заповедные зоны осуществляется согласно действующему Законодательству Украины. Ночевки проводятся только в специально установленных местах. Переходы проводятся только в светлое время суток, за исключением экстремальных ситуаций. 
    </li>
    <li>Группа при выходе на маршрут регистрируется в горно-спасательной службе.
    </li>
    <li>Распитие алкогольных напитков по время похода категорически воспрещается.
    </li>
    <li>Руководитель похода не может быть изменен ни при каких условиях. </li>
</ol>
<h3>Но не все так страшно, как кажется.</h3>
<p>
    Во-первых, мы можем вносить изменения в план маршрута, если этого хочет группа.
</p>
<p>
    Во-вторых, мы сами выбираем, что нам есть и когда.
</p>
<p>
    В-третьих, мы спим, сколько хочется, много общаемся, делимся опытом и никуда не спешим!
</p>
<p>
    Я знаю, что не всем подходит такая философия. И я очень этому рада. Потому что лучше группа будет меньше, но зато без осложнений 
</p>
<p>
    Счастливых Вам путешествий, дорогие друзья!
    <br>
    <div class="align-right" style="font-style: italic;">С любовью, Саша</div>
</p>
